# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\B站课程\TankOfMashibing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
